@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

:root {
  --orange: #fd7272;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
    font-size: 55%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
  text-transform: capitalize;
  transition: all 0.2s linear;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  box-shadow: var(--box-shadow);
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  background: #fff;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
}

.header .logo span {
  color: var(--orange);
}

.header .logo:hover {
  cursor: pointer;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: black;
}

.header .navbar a:hover {
  color: var(--orange);
}

.header .icons div {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons div:hover {
  color: #fff;
  background: var(--orange);
}

#menu-btn {
  display: none;
}

a.btn {
  border: 2px solid #666;
  font-size: 2rem;
  padding: 0.9rem 3rem;
  color: black;
  border-radius: 5px;
  margin-top: 10rem;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
  transition: 0.5s;
}

/* top and bottom vs right and left */
/* section {
  padding: 2rem; 
} */
.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5rem;
}

.digits {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  text-align: center;
}

.digits .count {
  font-size: 6rem;

  line-height: 0.5;
}

.digits h3 span {
  font-size: 2rem;
}
html {
  scroll-behavior: smooth;
}
.home .content {
  margin-top: 5rem;
  margin-right: 3rem;
  text-align: center;
  width: 60rem;
}

.home .content h3 {
  color: black;
  font-size: 8rem;
}

.home .content h3 span {
  color: var(--orange);
}

.home .content p {
  color: var(--light-color);
  font-size: 1.8rem;
  padding: 1rem 0;
  line-height: 1.8;
}

.header .navbar .active {
  right: 0%;
}

/* @media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
    background: #666;
  }
} */






/* know more section  */

.know-more {
  width: 100%;
  padding-left: 6rem;
}
.op a {
  color: black;
}
.know-more ol li {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  box-shadow: var(--light-color);
}

.know-more ol li:hover {
  /* background-color: var(--orange); 
  color: #fff; */
  font-size: 1.8rem;
  border-radius: 10px 40px;
  cursor: pointer;
}

.know-more #goal {
  text-align: center;
  font-size: 6rem;
  /* border-radius: 15px 50px; */
  color: #fff;
  background-color: #9980fa;
  margin-bottom: 4rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.headingg {
  margin-top: 2rem;
  text-align: center;
  font-size: 6rem;
  /* border-radius: 15px 50px; */
  color: #fff;
  background-color: #9980fa;
  margin-bottom: 4rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.home video {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin-top: 7rem;
  margin-bottom: 2rem;
}



/* .vid video {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  width: 45vw;
  height: 30vw;
  margin-top: 5rem;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("./video/un.mp4") ;
} */

@media only screen and (max-width: 700px) {
    #menu-btn {
        display: inline-block;
      }
  
  .header .navbar {
    position: absolute;
    
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: #fff;
    display: none;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display:block;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
    display: inline-block;
    top: 11%;
    right: 0;
  }

 
}